In [11]:
employees = [
    {"name": 'John', "salary": 45000},
    {"name": 'Mary', "salary": 52000},
    {"name": 'Alex', "salary": 48000}
]
employees

[{'name': 'John', 'salary': 45000},
 {'name': 'Mary', 'salary': 52000},
 {'name': 'Alex', 'salary': 48000}]

In [12]:
sorted_employees = sorted(employees, key=lambda x: x['salary'])
sorted_employees

[{'name': 'John', 'salary': 45000},
 {'name': 'Alex', 'salary': 48000},
 {'name': 'Mary', 'salary': 52000}]

In [13]:
print("Sorted by Salary:", sorted_employees)

Sorted by Salary: [{'name': 'John', 'salary': 45000}, {'name': 'Alex', 'salary': 48000}, {'name': 'Mary', 'salary': 52000}]